<app-slider [nombre]="'pruebas'"
[size]="'small'"></app-slider>
<div class="center">
    <section id="content">
        <div style="text-align: center;">
        </div>
        <hr />

        <h2 class="subheader">{{tittle}}</h2>

        <div *ngIf=" nombre && apellidos; then siHayParametros else noHayParametros">

        </div>

        <ng-template #siHayParametros>
            <h2> el nombre es {{nombre}} {{apellidos}}</h2>
        </ng-template>

        <ng-template #noHayParametros>
            <p>no hay parametros</p>
        </ng-template>




        <button (click)="redireccion()">carga mis datos</button>
    </section>
    <app-sidebar></app-sidebar>
</div>