    <aside id="sidebar">
          <div id="nav-blog" class="side-item">
              <h3>puedes hacer esto</h3>
              <a href="#" class="btn btn-success">crear articulo</a>
          </div>

          <div id="search" class="side-item">
              <h3>buscardor</h3>
              <p>encuentra el articulo que buscas</p>
              <form action="#">
                  <input type="text" name="seach">
                  <input type="submit" class="btn btn-seach" id="submit" value="buscar">
              </form>
            </div>
    </aside> 
    
<div class="clearfix"></div>